// PURPLE
$color-purple-0: #fde8ff;
$color-purple-100: #fcdbff;
$color-purple-200: #fac4ff;
$color-purple-300: #f8a6ff;
$color-purple-400: #ee7cf7;
$color-purple-500: #f14fff;
$color-purple-600: #f14fff;
$color-purple-700: #ef38ff;
$color-purple-800: #ed21ff;
$color-purple-900: #ea00ff;


// GRAY
$color-gray-0: #fff;
$color-gray-100: #e0e0e0;
$color-gray-200: #cfcfcf;
$color-gray-300: #bdbdbd;
$color-gray-400: #a8a8a8;
$color-gray-500: #8a8a8a;
$color-gray-600: #707070;
$color-gray-700: #545454;
$color-gray-800: #363636;
$color-gray-900: #000;

// RED
$color-red-0: #ffeceb;
$color-red-100: #fcdcd9;
$color-red-200: #ffc8c4;
$color-red-300: #ffbab5;
$color-red-400: #ffaea8;
$color-red-500: #fc9992;
$color-red-600: #fc7b72;
$color-red-700: #ff6459;
$color-red-800: #fc3b2d;
$color-red-900: #ff1f0f;

// BLUE
$color-blue-0: #edf1ff;
$color-blue-100: #dbe3ff;
$color-blue-200: #c7d4ff;
$color-blue-300: #b0c2ff;
$color-blue-400: #8fa9ff;
$color-blue-500: #6e90ff;
$color-blue-600: #527bff;
$color-blue-700: #3061ff;
$color-blue-800: #174dff;
$color-blue-900: #003cff;