@import '../../global/colors/colors.scss';

.fontsReference {
    margin: 0 auto;
    max-width: 1200px;
    
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 58px;
        color: $color-gray-400;
        margin: 40px 0 0;
    }
}