
// PURPLE
$color-purple-0: #6C09BA;
$color-purple-100: #6C09BA;
$color-purple-200: #6C09BA;
$color-purple-300: #6C09BA;
$color-purple-400: #6C09BA;
$color-purple-500: #6C09BA;
$color-purple-600: #6C09BA;
$color-purple-700: #6C09BA;
$color-purple-800: #6C09BA;
$color-purple-900: #6C09BA;


// GRAY
$color-gray-0: #fff;
$color-gray-100: #fff;
$color-gray-200: #fff;
$color-gray-300: #fff;
$color-gray-400: #fff;
$color-gray-500: #fff;
$color-gray-600: #fff;
$color-gray-700: #fff;
$color-gray-800: #fff;
$color-gray-900: #000;